@font-face {
  font-family: 'Naruto';
  src: url('/fonts/Naruto-Regular.woff2') format('woff2'),
       url('/fonts/Naruto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

